.profile__button_type_edit {
  background-image: url(../../../../images/icon-edit-button.svg);
  width: 24px;
  height: 24px;
  margin: 0 0;
  align-self: center;
  background-size: 100%;
}

@media (max-width: 767px) {
  .profile__button_type_edit {
    width: 18px;
    height: 18px;
  }
}
